body{
font-family: sans-serif;
background-color: rgb(226, 247, 193);
}

header{
text-align: center;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.753);
text-decoration: underline;
}

main{
width: 550px;
height: 400px;
background-color: rgba(17, 133, 17, 0.459);
margin: auto;
border-radius: 25px;
box-shadow: 5px 5px 10px black;
}

main div#fotos{
    text-align: center;
    padding-top: 65px;
}

main div#msg{   
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(39, 15, 15);
}



footer{
text-align: center;
margin: 35px 0;
}